body {
  text-align: center;
}
nav {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  background-color: #3f3f3f;
  text-align: center;
}
nav section {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 960px;
}
nav section img, nav section p {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #7f7f7f;
  overflow: hidden;
  width: 188px;
  height: 70px;
}
nav section p {
  text-align: center;
  line-height: 70px;
}
main section {
  margin: 20px auto;
  padding: 0px;
  width: 960px;
}
/*
Found on: https://stackoverflow.com/questions/1464934/text-align-justify-and-images
*/
main section:nth-child(2) {
  text-align: justify;
}
main section:nth-child(2) img {
  display: inline-block;
}
main section:nth-child(2):after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
main section:nth-child(3) {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 960px;
}
main section:nth-child(3) article {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 458px;
  height: 400px;
}
main section:nth-child(3) article:last-child {
  padding: 20px;
}
